<footer id='footer'>
    <div class="content">
        <div class="link">
            <div class="about-bilibili">
                <h3 class='title'>pwFour</h3>
                <div class="info">
                    <p><a href="">关于我们</a></p>
                    <p><a href="">联系我们</a></p>
                    <p><a href="">加入我们</a></p>
                    <p><a href="">友情链接</a></p>
                    <p><a href="">pwFour认证</a></p>
                    <p><a href="">Investor Relations</a></p>
                </div>
            </div>
            <div class="gate">
                <h3 class='title'>传送门</h3>
                <div class="info">
                    <p><a href="">帮助中心</a></p>
                    <p><a href="">高级弹幕</a></p>
                    <p><a href="">帮助中心</a></p>
                    <p><a href="">侵权申诉</a></p>
                    <p><a href="">名人堂</a></p>
                    <p><a href="">高级弹幕</a></p>
                    <p><a href="">用户反馈论坛</a></p>
                    <p><a href="">活动中心</a></p>
                </div>
            </div>
            <ul class="qr">
                <li>
                    <div class="mobile-app"></div>
                    <p>客户端下载</p>
                    <div class="qr-area"></div>
                </li>
                <li>
                    <div class="sina-app"></div>
                    <p>新浪微博</p>
                    <div class="qr-area"></div>

                </li>
                <li>
                    <div class="wechat-app"></div>
                    <p>官方微信</p>
                    <div class="qr-area"></div>
                </li>
            </ul>
        </div>
        <div class="copright"></div>
    </div>
</footer>
<script src="/node_modules/jquery/dist/jquery.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/public/js/ajax.js"></script>
<script src="/public/js/api.js"></script>
<script src="/public/js/search.js"></script>