<title>{{ title }}</title>
<meta charset="utf-8">
<meta name='keywords' content='pwFour,pw站,动漫'>
<meta name='description' content='天下漫友是一家'>
<link rel="stylesheet" type="text/css" href="/public/css/reset.css">
<link rel="stylesheet" type="text/css" href="/public/css/tool.css">
<!-- <link rel="stylesheet" type="text/css" href="/node_modules/bootstrap-css-only/css/bootstrap.min.css"> -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.2/css/swiper.min.css"> -->
<link rel='shortcut icon' href='/public/images/favicon.ico'>
