<!DOCTYPE html>
<html>

<head>
	{{include './head.html'}}
	<link rel="stylesheet" type="text/css" href="/public/css/index.css">
	<style></style>
</head>

<body>
	<header id="header">
		<div class="mask"></div>
		{{include './nav_menu.html'}}
		{{include './search.html'}}
		{{include './nav.html'}}
	</header>
	<section id='most-view'>
		<div class="content">
			<div class="border">
				<div class="imgPlay">
					<ul class="list clearfix">
						<li class="item">
							<img src="/public/images/swiper/0.jpg" alt="家庭照片">
						</li>
						<li class="item">
							<img src="/public/images/swiper/1.jpg" alt="家庭照片">
						</li>
					</ul>
					<!-- <div class="left">上一张</div>
					<div class="play">动画播放</div>
					<div class="right">下一张</div> -->
				</div>
			</div>
			<ul class="most-list">
				<li>
					<img src="/public/images/header/nav_img/4.jpg" alt="">
					<div class="cover">
						<h3 class="title">【魔性广告】又是一个玩游戏的好日子!ps4黑色星期五搞笑广告</h3>
						<p class="up">up主: 柯南</p>
						<p class="play">播放量: 99.9万</p>
						<div class="wait"></div>
					</div>
				</li>
				<li>
					<img src="/public/images/header/nav_img/2.jpg" alt="">
					<div class="cover">
						<h3 class="title">马云与马化腾的相爱相杀【对金钱的表白】</h3>
						<p class="up">up主: 柯南</p>
						<p class="play">播放量: 99.9万</p>
						<div class="wait"></div>
					</div>
				</li>
				<li>
					<img src="/public/images/header/nav_img/1.jpg" alt="">
					<div class="cover">
						<h3 class="title">带你走进火箭直播现场,看美国耗资2亿的火箭坠落</h3>
						<p class="up">up主: 柯南</p>
						<p class="play">播放量: 99.9万</p>
						<div class="wait"></div>
					</div>
				</li>
				<li>
					<img src="/public/images/header/nav_img/5.jpg" alt="">
					<div class="cover">
						<h3 class="title">【郡主】速翻!金智妮jennie单曲-SOLO Dance Cover</h3>
						<p class="up">up主: 柯南</p>
						<p class="play">播放量: 99.9万</p>
						<div class="wait"></div>
					</div>
				</li>
				<li>
					<img src="/public/images/others/pwFour_248 (1).jpg" alt="">
					<div class="cover">
						<h3 class="title">美女为何在雨中伤心欲绝?ps4黑色星期五搞笑广告</h3>
						<p class="up">up主: 柯南</p>
						<p class="play">播放量: 99.9万</p>
						<div class="wait"></div>
					</div>
				</li>
				<li>
					<img src="/public/images/header/nav_img/6.jpg" alt="">
					<div class="cover">
						<h3 class="title">每个男人都必备的五双鞋子【赫给力】</h3>
						<p class="up">up主: 柯南</p>
						<p class="play">播放量: 99.9万</p>
						<div class="wait"></div>
					</div>
				</li>
				<li>
					<img src="/public/images/header/nav_img/3.jpg" alt="">
					<div class="cover">
						<h3 class="title">主播模仿电影用啤酒瓶砸头,砸完一个还想再来一个【冰糖配音/一人全役】</h3>
						<p class="up">up主: 柯南</p>
						<p class="play">播放量: 99.9万</p>
						<div class="wait"></div>
					</div>
				</li>
				<li>
					<img src="/public/images/video/1.jpg" alt="">
					<div class="cover">
						<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
						<p class="up">up主: 柯南</p>
						<p class="play">播放量: 99.9万</p>
						<div class="wait"></div>
					</div>
				</li>
			</ul>
		</div>
		<div class="content adv">
			<a href="">
				<img src="/public/images/adv/adv1.jpg" alt="adv">
			</a>
		</div>
	</section>
	<!-- 动画 -->
	<section id="animation">
		<div class="content">
			<div class="example fl">
				<div class="info">
					<i class="icon fl"></i>
					<h2 class="title fl"><a id="cartoon">动画</a></h2>
					<span class="fl active">有新动态</span>
					<span class="fr border">更多 ></span>
					<span class="fr border"><b>5964</b>条动态</span>
				</div>
				<ul class="animation-list">
					<li>
						<img src="/public/images/others/pwFour_248 (19).jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>
						</div>
					</li>
					<li>
						<img src="/public/images/others/pwFour_248 (8).jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/others/pwFour_248 (13).jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/others/pwFour_248 (12).jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/others/pwFour_248 (14).jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/others/pwFour_248 (15).jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/others/pwFour_248 (16).jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/others/pwFour_248 (17).jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/others/pwFour_248 (27).jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/others/pwFour_248 (29).jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="ranking fr">
				<div class="paly">
					<h2>动画排行榜</h2>
					<a>周榜</a>
					<a>日榜</a>
				</div>
				<ul class="palyNav">
					<li class="firstLi">
						<i class="liPic"></i>
						<div class="cartoon pic"></div>
						<div class="picRight">
							<a>【中日跨国合唱】-就这样死了没出息了!</a>
							<p>播放量: 2.8万</p>
						</div>
					</li>
					<li><a>POP/STARS(日语.ver)</a></li>
					<li><a>沙漠骆驼(攻气女版)</a></li>
					<li><a>【姬雏MV第五弹】ROKI(cover:姬雏)</a></li>
					<li><a>昨日青空</a></li>
					<li><a>【波澜哥】波澜点灯</a></li>
					<li><a>大姨妈</a></li>
					<li><a>【Ayasa】《Fate/Apocrypha》 ED2</a></li>
					<!-- <li><a>【林小尤_扬琴】红莲的弓矢(Linked Horizon)</a></li> -->
					<div class="all">查看完整榜单 &gt</div>
				</ul>
			</div>
		</div>
	</section>
	<!-- 娱乐 -->
	<section id="animation">
		<div class="content">
			<div class="example fl">
				<div class="info">
					<i class="icon fl"></i>
					<h2 class="title fl"><a id="amusement">娱乐</a></h2>
					<span class="fl active">有新动态</span>
					<span class="fr border">更多 ></span>
					<span class="fr border"><b>912</b>条动态</span>
				</div>
				<ul class="animation-list">
					<li>
						<img src="/public/images/amusement/yule1.jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>
						</div>
					</li>
					<li>
						<img src="/public/images/amusement/2.jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/amusement/3.jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/amusement/4.jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/amusement/5.jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/amusement/6.jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/amusement/7.jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/amusement/8.jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/others/pwFour_248 (9).jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/others/pwFour_248 (10).jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="ranking fr">
				<div class="paly">
					<h2>娱乐排行榜</h2>
					<a>周榜</a>
					<a>日榜</a>
				</div>
				<ul class="palyNav">
					<li class="firstLi">
						<i class="liPic"></i>
						<div class="amusement pic"></div>
						<div class="picRight">
							<a>【中日跨国合唱】-就这样死了没出息了!</a>
							<p>播放量: 2.8万</p>
						</div>
					</li>
					<li><a>POP/STARS(日语.ver)</a></li>
					<li><a>沙漠骆驼(攻气女版)</a></li>
					<li><a>【姬雏MV第五弹】ROKI(cover:姬雏)</a></li>
					<li><a>昨日青空</a></li>
					<li><a>【波澜哥】波澜点灯</a></li>
					<li><a>大姨妈</a></li>
					<li><a>【Ayasa】《Fate/Apocrypha》 ED2</a></li>
					<!-- <li><a>【林小尤_扬琴】红莲的弓矢(Linked Horizon)</a></li> -->
					<div class="all">查看完整榜单 &gt</div>
				</ul>
			</div>
		</div>
	</section>

	<!-- 广告 -->
	<div class="content adv">
		<a href="">
			<img src="/public/images/adv/2.jpg" alt="adv">
		</a>
	</div>

	<!-- 番剧副本 -->
	<section id="animation">
		<div class="content">
			<div class="example fl">
				<div class="info">
					<i class="icon fl"></i>
					<h2 class="title fl"><a id="drama">番剧</a></h2>
					<!-- <span class="fl active">周一</span> -->
					<div class="week">
						<div name="time">周一<p name="timeTriangle"></p>
						</div>
						<div name="time">周二<p name="timeTriangle"></p>
						</div>
						<div name="time">周三<p name="timeTriangle"></p>
						</div>
						<div name="time">周四<p name="timeTriangle"></p>
						</div>
						<div name="time">周五<p name="timeTriangle"></p>
						</div>
						<div name="time">周六<p name="timeTriangle"></p>
						</div>
						<div name="time">周日<p name="timeTriangle"></p>
						</div>
						<button class="btn1" id="button">换一天</button>
					</div>
					<!-- 周一 -->
					<ul class="timeTab" name="timeTab" style="">
						<li>
							<div class="timeLeft"><img src="/public/images/drama/6.jpg" alt=""></div>
							<div class="timeRight">
								<a class="tRa">弦音-风舞高中弓道部</a>
								<span class="tR-span">更新至</span>
								<a class="tRaLast">5话</a>
							</div>
						</li>
						<li>
							<div class="timeLeft"><img src="/public/images/drama/1.jpg" alt=""></div>
							<div class="timeRight">
								<a class="tRa">ANIMAYELL!</a>
								<span class="tR-span">更新至</span>
								<a class="tRaLast">7话</a>
							</div>
						</li>
						<li>
							<div class="timeLeft"><img src="/public/images/drama/2.jpg" alt=""></div>
							<div class="timeRight">
								<a class="tRa">美妙$频道</a>
								<span class="tR-span">更新至</span>
								<a class="tRaLast" style="background-color: #b8c0cc">33话</a>
							</div>
						</li>
						<li>
							<div class="timeLeft"><img src="/public/images/drama/3.jpg" alt=""></div>
							<div class="timeRight">
								<a class="tRa">逆转裁判 第二季</a>
								<span class="tR-span">更新至</span>
								<a class="tRaLast">7话</a>
							</div>
						</li>
						<li>
							<div class="timeLeft"><img src="/public/images/drama/4.jpg" alt=""></div>
							<div class="timeRight">
								<a class="tRa">刃牙</a>
								<span class="tR-span">更新至</span>
								<a class="tRaLast">21话</a>
							</div>
						</li>
						<li>
							<div class="timeLeft"><img src="/public/images/drama/5.jpg" alt=""></div>
							<div class="timeRight">
								<a class="tRa">Double Decker!道格</a>
								<span class="tR-span">更新至</span>
								<a class="tRaLast">9话</a>
							</div>
						</li>
						<li>
							<div class="timeLeft"><img src="/public/images/drama/7.jpg" alt=""></div>
							<div class="timeRight">
								<a class="tRa">爱玩怪兽</a>
								<span class="tR-span">更新至</span>
								<a class="tRaLast">7话</a>
							</div>
						</li>
						<li>
							<div class="timeLeft"><img src="/public/images/drama/8.jpg" alt=""></div>
							<div class="timeRight">
								<a class="tRa">暖暖日记 3rd</a>
								<span class="tR-span">更新至</span>
								<a class="tRaLast" style="background-color: #b8c0cc">5话</a>
							</div>
						</li>
					</ul>
					<!-- 周二 -->
					<ul class="timeTab" name="timeTab" style="display:none">
						<li>
							<div class="timeLeft"><img src="/public/images/drama/9.jpg" alt=""></div>
							<div class="timeRight">
								<a class="tRa">关于我转生变成史莱姆这档事</a>
								<span class="tR-span">更新至</span>
								<a class="tRaLast">7话</a>
							</div>
						</li>
						<li>
							<div class="timeLeft"><img src="/public/images/drama/22.jpg" alt=""></div>
							<div class="timeRight">
								<a class="tRa">黑色四叶草</a>
								<span class="tR-span">更新至</span>
								<a class="tRaLast">58话</a>
							</div>
						</li>
						<li>
							<div class="timeLeft"><img src="/public/images/drama/23.jpg" alt=""></div>
							<div class="timeRight">
								<a class="tRa">宇宙战舰提拉米思II</a>
								<span class="tR-span">更新至</span>
								<a class="tRaLast">7话</a>
							</div>
						</li>
						<li>
							<div class="timeLeft"><img src="/public/images/drama/24.jpg" alt=""></div>
							<div class="timeRight">
								<a class="tRa">偶像大师 SideMMini</a>
								<span class="tR-span">更新至</span>
								<a class="tRaLast">5话</a>
							</div>
						</li>
						<li>
							<div class="timeLeft"><img src="/public/images/drama/25.jpg" alt=""></div>
							<div class="timeRight">
								<a class="tRa">少年阿贝 GO!GO! 小芝麻 第三季</a>
								<span class="tR-span">更新至</span>
								<a class="tRaLast">22话</a>
							</div>
						</li>
						<li>
							<div class="timeLeft"><img src="/public/images/drama/26.png" alt=""></div>
							<div class="timeRight">
								<a class="tRa">苍天之拳 REGENESIS 第二季</a>
								<span class="tR-span">更新至</span>
								<a class="tRaLast">5话</a>
							</div>
						</li>
					</ul>
					<!-- 周三 -->
					<ul class="timeTab" name="timeTab" style="display:none">
						<li>
							<div class="timeLeft"><img src="/public/images/drama/31.jpg" alt=""></div>
							<div class="timeRight">
								<a class="tRa">我喜欢的是小说里的你</a>
								<span class="tR-span">更新至</span>
								<a class="tRaLast">6话</a>
							</div>
						</li>
						<li>
							<div class="timeLeft"><img src="/public/images/drama/32.jpg" alt=""></div>
							<div class="timeRight">
								<a class="tRa">强风吹拂</a>
								<span class="tR-span">更新至</span>
								<a class="tRaLast">7话</a>
							</div>
						</li>
						<li>
							<div class="timeLeft"><img src="/public/images/drama/33.jpg" alt=""></div>
							<div class="timeRight">
								<a class="tRa">中间管理录利根川</a>
								<span class="tR-span">更新至</span>
								<a class="tRaLast">19话</a>
							</div>
						</li>
						<li>
							<div class="timeLeft"><img src="/public/images/drama/34.jpg" alt=""></div>
							<div class="timeRight">
								<a class="tRa">RErideD-穿越时空的德里达</a>
								<span class="tR-span">更新至</span>
								<a class="tRaLast">11话</a>
							</div>
						</li>
					</ul>
					<!-- 周四 -->
					<ul class="timeTab" name="timeTab" style="display:none">
						<li>
							<div class="timeLeft"><img src="/public/images/drama/41.jpg" alt=""></div>
							<div class="timeRight">
								<a class="tRa">青春猪头少年不会梦到兔女郎学姐</a>
								<span class="tR-span">更新至</span>
								<a class="tRaLast">7话</a>
							</div>
						</li>
						<li>
							<div class="timeLeft"><img src="/public/images/drama/42.jpg" alt=""></div>
							<div class="timeRight">
								<a class="tRa">只要贝尔哲步步大小姐喜欢就好</a>
								<span class="tR-span">更新至</span>
								<a class="tRaLast">6话</a>
							</div>
						</li>
						<li>
							<div class="timeLeft"><img src="/public/images/drama/43.png" alt=""></div>
							<div class="timeRight">
								<a class="tRa">魔偶马戏团</a>
								<span class="tR-span">更新至</span>
								<a class="tRaLast">6话</a>
							</div>
						</li>
						<li>
							<div class="timeLeft"><img src="/public/images/drama/44.jpg" alt=""></div>
							<div class="timeRight">
								<a class="tRa">叛逆性百万亚瑟王</a>
								<span class="tR-span">更新至</span>
								<a class="tRaLast">4话</a>
							</div>
						</li>
						<li>
							<div class="timeLeft"><img src="/public/images/drama/45.jpg" alt=""></div>
							<div class="timeRight">
								<a class="tRa">梅露可物语:无精打彩的少年与瓶中少女</a>
								<span class="tR-span">更新至</span>
								<a class="tRaLast">6话</a>
							</div>
						</li>
						<li>
							<div class="timeLeft"><img src="/public/images/drama/46.jpg" alt=""></div>
							<div class="timeRight">
								<a class="tRa">BanG Dream!少女乐团派对PIC</a>
								<span class="tR-span">更新至</span>
								<a class="tRaLast">20话</a>
							</div>
						</li>
						<li>
							<div class="timeLeft"><img src="/public/images/drama/47.jpg" alt=""></div>
							<div class="timeRight">
								<a class="tRa" title="只要别西普大小姐喜欢就好(仅限港澳台地区)">只要别西普大小姐喜欢就好(仅限港澳台地区)</a>
								<span class="tR-span">更新至</span>
								<a class="tRaLast">6话</a>
							</div>
						</li>
						<li>
							<div class="timeLeft"><img src="/public/images/drama/48.jpg" alt=""></div>
							<div class="timeRight">
								<a class="tRa" title="天空与海洋之间(仅限港澳台地区)">天空与海洋之间(仅限港澳台地区)</a>
								<span class="tR-span">更新至</span>
								<a class="tRaLast">6话</a>
							</div>
						</li>
					</ul>
					<!-- 周五 -->
					<ul class="timeTab" name="timeTab" style="display:none">
						<li>
							<div class="timeLeft"><img src="/public/images/drama/51.jpg" alt=""></div>
							<div class="timeRight">
								<a class="tRa">Angels of Death</a>
								<span class="tR-span">更新至</span>
								<a class="tRaLast">16话</a>
							</div>
						</li>
						<li>
							<div class="timeLeft"><img src="/public/images/drama/52.jpg" alt=""></div>
							<div class="timeRight">
								<a class="tRa">魔法禁书目录 第三季</a>
								<span class="tR-span">更新至</span>
								<a class="tRaLast">7话</a>
							</div>
						</li>
						<li>
							<div class="timeLeft"><img src="/public/images/drama/53.jpg" alt=""></div>
							<div class="timeRight">
								<a class="tRa">我家女仆有够烦</a>
								<span class="tR-span">更新至</span>
								<a class="tRaLast">7话</a>
							</div>
						</li>
						<li>
							<div class="timeLeft"><img src="/public/images/drama/54.jpg" alt=""></div>
							<div class="timeRight">
								<a class="tRa">终将成为你</a>
								<span class="tR-span">更新至</span>
								<a class="tRaLast">7话</a>
							</div>
						</li>
						<li>
							<div class="timeLeft"><img src="/public/images/drama/55.jpg" alt=""></div>
							<div class="timeRight">
								<a class="tRa">邻家索菲</a>
								<span class="tR-span">更新至</span>
								<a class="tRaLast">7话</a>
							</div>
						</li>
						<li>
							<div class="timeLeft"><img src="/public/images/drama/56.jpg" alt=""></div>
							<div class="timeRight">
								<a class="tRa">火之丸相扑</a>
								<span class="tR-span">更新至</span>
								<a class="tRaLast">7话</a>
							</div>
						</li>
						<li>
							<div class="timeLeft"><img src="/public/images/drama/57.jpg" alt=""></div>
							<div class="timeRight">
								<a class="tRa">佐贺偶像是传奇</a>
								<span class="tR-span">更新至</span>
								<a class="tRaLast">6话</a>
							</div>
						</li>
					</ul>
					<!-- 周六 -->
					<ul class="timeTab" name="timeTab" style="display:none">
						<li>
							<div class="timeLeft"><img src="/public/images/drama/61.jpg" alt=""></div>
							<div class="timeRight">
								<a class="tRa">JOJO的奇妙冒险黄金之风</a>
								<span class="tR-span">更新至</span>
								<a class="tRaLast">7话</a>
							</div>
						</li>
						<li>
							<div class="timeLeft"><img src="/public/images/drama/62.jpg" alt=""></div>
							<div class="timeRight">
								<a class="tRa">逆转裁判 第二季</a>
								<span class="tR-span">更新至</span>
								<a class="tRaLast">7话</a>
							</div>
						</li>
						<li>
							<div class="timeLeft"><img src="/public/images/drama/6.jpg" alt=""></div>
							<div class="timeRight">
								<a class="tRa">暖暖日记 3rd</a>
								<span class="tR-span">更新至</span>
								<a class="tRaLast">33话</a>
							</div>
						</li>
					</ul>
					<!-- 周日 -->
					<ul class="timeTab" name="timeTab" style="display:none">
						<li>
							<div class="timeLeft"><img src="/public/images/drama/71.jpg" alt=""></div>
							<div class="timeRight">
								<a class="tRa">刀剑神域 Alicization</a>
								<span class="tR-span">更新至</span>
								<a class="tRaLast">7话</a>
							</div>
						</li>
						<li>
							<div class="timeLeft"><img src="/public/images/drama/72.jpg" alt=""></div>
							<div class="timeRight">
								<a class="tRa">博人传</a>
								<span class="tR-span">更新至</span>
								<a class="tRaLast">82话</a>
							</div>
						</li>
						<li>
							<div class="timeLeft"><img src="/public/images/drama/73.jpg" alt=""></div>
							<div class="timeRight">
								<a class="tRa">美妙频道</a>
								<span class="tR-span">更新至</span>
								<a class="tRaLast">33话</a>
							</div>
						</li>
						<li>
							<div class="timeLeft"><img src="/public/images/drama/74.jpg" alt=""></div>
							<div class="timeRight">
								<a class="tRa">Double Decker!逗哥</a>
								<span class="tR-span">更新至</span>
								<a class="tRaLast">9话</a>
							</div>
						</li>
						<li>
							<div class="timeLeft"><img src="/public/images/drama/75.jpg" alt=""></div>
							<div class="timeRight">
								<a class="tRa">爱玩怪兽</a>
								<span class="tR-span">更新至</span>
								<a class="tRaLast">7话</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="ranking fr">
				<div class="paly">
					<h2>番剧排行榜</h2>
					<a>周榜</a>
					<a>日榜</a>
				</div>
				<ul class="palyNav">
					<li class="firstLi">
						<i class="liPic"></i>
						<div class="screens-others pic"></div>
						<div class="picRight">
							<a>【中日跨国合唱】-就这样死了没出息了!</a>
							<p>播放量: 2.8万</p>
						</div>
					</li>
					<li><a>POP/STARS(日语.ver)</a></li>
					<li><a>沙漠骆驼(攻气女版)</a></li>
					<li><a>【姬雏MV第五弹】ROKI(cover:姬雏)</a></li>
					<li><a>昨日青空</a></li>
					<li><a>【波澜哥】波澜点灯</a></li>
					<li><a>大姨妈</a></li>
					<li><a>【Ayasa】《Fate/Apocrypha》 ED2</a></li>
					<div class="all">查看完整榜单 &gt</div>
				</ul>
			</div>
		</div>
	</section>
	<!-- 番剧 -->
	<section id="animation">
		<div class="content">
			<div class="example fl">
				<div class="info">
					<i class="icon fl"></i>
					<h2 class="title fl"><a id="drama">番剧</a></h2>
					<span class="fl active">有新动态</span>
					<span class="fr border">更多 ></span>
					<span class="fr border"><b>27</b>条动态</span>
				</div>
				<ul class="animation-list">
					<li>
						<img src="/public/images/drama/fan1.jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>
						</div>
					</li>
					<li>
						<img src="/public/images/drama/fan2.jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/drama/fan3.jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/drama/fan4.jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/drama/fan5.jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/others/pwFour_248 (8).jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/others/pwFour_248 (10).jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/drama/fan6.jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/drama/fan7.jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/drama/fan8.jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="ranking fr">
				<div class="paly">
					<h2>番剧排行榜</h2>
					<a>周榜</a>
					<a>日榜</a>
				</div>
				<ul class="palyNav">
					<li class="firstLi">
						<i class="liPic"></i>
						<div class="pic"></div>
						<div class="picRight">
							<a>【中日跨国合唱】-就这样死了没出息了!</a>
							<p>播放量: 2.8万</p>
						</div>
					</li>
					<li><a>POP/STARS(日语.ver)</a></li>
					<li><a>沙漠骆驼(攻气女版)</a></li>
					<li><a>【姬雏MV第五弹】ROKI(cover:姬雏)</a></li>
					<li><a>昨日青空</a></li>
					<li><a>【波澜哥】波澜点灯</a></li>
					<li><a>大姨妈</a></li>
					<li><a>【Ayasa】《Fate/Apocrypha》 ED2</a></li>
					<!-- <li><a>【林小尤_扬琴】红莲的弓矢(Linked Horizon)</a></li> -->
					<div class="all">查看完整榜单 &gt</div>
				</ul>
			</div>
		</div>
	</section>
	<!-- 舞蹈 -->
	<section id="animation">
		<div class="content">
			<div class="example fl">
				<div class="info">
					<i class="icon fl"></i>
					<h2 class="title fl"><a id="dance">舞蹈</a></h2>
					<span class="fl active">有新动态</span>
					<span class="fr border">更多 ></span>
					<span class="fr border"><b>8799</b>条动态</span>
				</div>
				<ul class="animation-list">
					<li>
						<img src="/public/images/dance/1.jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>
						</div>
					</li>
					<li>
						<img src="/public/images/dance/2.jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/dance/3.jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/dance/4.jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/dance/5.jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/others/pwFour_248 (33).jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/others/pwFour_248 (30).jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/dance/8.jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/dance/7.jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/dance/6.jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="ranking fr">
				<div class="paly">
					<h2>舞蹈排行榜</h2>
					<a>周榜</a>
					<a>日榜</a>
				</div>
				<ul class="palyNav">
					<li class="firstLi">
						<i class="liPic"></i>
						<div class="dance pic"></div>
						<div class="picRight">
							<a>【中日跨国合唱】-就这样死了没出息了!</a>
							<p>播放量: 2.8万</p>
						</div>
					</li>
					<li><a>POP/STARS(日语.ver)</a></li>
					<li><a>沙漠骆驼(攻气女版)</a></li>
					<li><a>【姬雏MV第五弹】ROKI(cover:姬雏)</a></li>
					<li><a>昨日青空</a></li>
					<li><a>【波澜哥】波澜点灯</a></li>
					<li><a>大姨妈</a></li>
					<li><a>【Ayasa】《Fate/Apocrypha》 ED2</a></li>
					<!-- <li><a>【林小尤_扬琴】红莲的弓矢(Linked Horizon)</a></li> -->
					<div class="all">查看完整榜单 &gt</div>
				</ul>
			</div>
		</div>
	</section>
	<!-- 鬼畜 -->
	<section id="animation">
		<div class="content">
			<div class="example fl">
				<div class="info">
					<i class="icon fl"></i>
					<h2 class="title fl"><a id="ghost">鬼畜</a></h2>
					<span class="fl active">有新动态</span>
					<span class="fr border">更多 ></span>
					<span class="fr border"><b>185</b>条动态</span>
				</div>
				<ul class="animation-list">
					<li>
						<img src="/public/images/demon/1.jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>
						</div>
					</li>
					<li>
						<img src="/public/images/demon/2.jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/demon/3.jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/demon/4.jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/demon/7.jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/demon/8.jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/demon/5.jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/demon/6.jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/others/pwFour_248 (43).jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/others/pwFour_248 (42).jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="ranking fr">
				<div class="paly">
					<h2>鬼畜排行榜</h2>
					<a>周榜</a>
					<a>日榜</a>
				</div>
				<ul class="palyNav">
					<li class="firstLi">
						<i class="liPic"></i>
						<div class="ghostpic pic"></div>
						<div class="picRight">
							<a>【中日跨国合唱】-就这样死了没出息了!</a>
							<p>播放量: 2.8万</p>
						</div>
					</li>
					<li><a>POP/STARS(日语.ver)</a></li>
					<li><a>沙漠骆驼(攻气女版)</a></li>
					<li><a>【姬雏MV第五弹】ROKI(cover:姬雏)</a></li>
					<li><a>昨日青空</a></li>
					<li><a>【波澜哥】波澜点灯</a></li>
					<li><a>大姨妈</a></li>
					<li><a>【Ayasa】《Fate/Apocrypha》 ED2</a></li>
					<!-- <li><a>【林小尤_扬琴】红莲的弓矢(Linked Horizon)</a></li> -->
					<div class="all">查看完整榜单 &gt</div>
				</ul>
			</div>
		</div>
	</section>
	<!-- 放映厅 -->
	<section id="animation">
		<div class="content">
			<div class="example fl">
				<div class="info">
					<i class="icon fl"></i>
					<h2 class="title fl"><a id="screens">放映厅</a></h2>
					<span class="fl active">有新动态</span>
					<span class="fr border">更多 ></span>
					<span class="fr border"><b>1107</b>条动态</span>
				</div>
				<ul class="animation-list">
					<li>
						<img src="/public/images/documentary/8.jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>
						</div>
					</li>
					<li>
						<img src="/public/images/documentary/1.jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/documentary/2.jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/documentary/3.jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/documentary/4.jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/documentary/5.jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/documentary/6.jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/documentary/7.jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/others/pwFour_248 (18).jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>

						</div>
					</li>
					<li>
						<img src="/public/images/others/pwFour_248 (20).jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="ranking fr">
				<div class="paly">
					<h2>放映厅排行榜</h2>
					<a>周榜</a>
					<a>日榜</a>
				</div>
				<ul class="palyNav">
					<li class="firstLi">
						<i class="liPic"></i>
						<div class="screens pic"></div>
						<div class="picRight">
							<a>【中日跨国合唱】-就这样死了没出息了!</a>
							<p>播放量: 2.8万</p>
						</div>
					</li>
					<li><a>POP/STARS(日语.ver)</a></li>
					<li><a>沙漠骆驼(攻气女版)</a></li>
					<li><a>【姬雏MV第五弹】ROKI(cover:姬雏)</a></li>
					<li><a>昨日青空</a></li>
					<li><a>【波澜哥】波澜点灯</a></li>
					<li><a>大姨妈</a></li>
					<li><a>【Ayasa】《Fate/Apocrypha》 ED2</a></li>
					<!-- <li><a>【林小尤_扬琴】红莲的弓矢(Linked Horizon)</a></li> -->
					<div class="all">查看完整榜单 &gt</div>
				</ul>
			</div>
		</div>
	</section>

	<div class="floatCtro">
		<p><a href="#cartoon">动画</a></p>
		<p><a href="#drama">番剧</a></p>
		<p><a href="#dance">舞蹈</a></p>
		<p><a href="#ghost">鬼畜</a></p>
		<p><a href="#amusement">娱乐</a></p>
		<p><a href="#screens">放映厅</a></p>
		<p><a href="#header">返回顶部</a></p>
	</div>

	{{ include './footer.html' }}

	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.2/js/swiper.min.js"></script> -->
	<script src="/public/js/customLoop.js"></script>
	<script>
		var mySwiper = new Swiper('.swiper-container', {
			direction: 'horizontal',
			loop: true,
			autoplay: {
				delay: 2000,
				stopOnLastSlide: false,
				disableOnInteraction: true,
			},
			pagination: {
				el: '.swiper-pagination',
			}
		})
	</script>

	<script>
		var i = 0, j = 0, h = 0, x = 0;
		document.getElementById('button').onclick = function () {
			var a = document.getElementsByName('time'), l = a.length;
			a[i++].style.borderBottomColor = 'transparent';
			if (i >= l) i = 0;
			a[i].style.borderBottomColor = '#00a1d6';

			var b = document.getElementsByName('time'), l = b.length;
			b[j++].style.color = '#000';
			if (j >= l) j = 0;
			b[j].style.color = '#00a1d6';

			var c = document.getElementsByName('timeTriangle'), l = c.length;
			c[h++].style.display = 'none';
			if (h >= l) h = 0;
			c[h].style.display = 'block';

			var d = document.getElementsByName('timeTab'), l = d.length;
			d[x++].style.display = 'none';
			if (x >= l) x = 0;
			d[x].style.display = 'block';
		}
	</script>
</body>

</html>