<nav class="nav">
    <div class="content">
        <ul class="nav-info fl">
            <li class='icon main-page'>
                <a href="/index"><span class='nav-name'>首页</a></span>
            </li>
            <li>
                <a href="/cartoon"><span class='nav-name'>动画</span></a>
                <ul class="more">
                    <a href="/cartoon#MAD-AMV"><li><span>MAD-AMV</span></li></a>
                    <a href="/cartoon#MMD-3D"><li><span>MMD-3D</span></li></a>
                    <a href="/cartoon#short"><li><span>短片-手书-配音</span></li></a>
                    <a href="/cartoon#zonghe"><li><span>综合</span></li></a>
                </ul>
            </li>
            <li>
                <a href="/drama"><span class='nav-name'>番剧</span></a>
                <ul class="more">
                    <a href="/drama#lian"><li><span>连载动画</span></li></a>
                    <a href="/drama#end"><li><span>完结动画</span></li></a>
                    <a href="/drama#zixun"><li><span>资讯</span></li></a>
                    <li><span>官方延伸</span></li>
                    <li><span>番剧索引</span></li>
                    <li><span>时间表</span></li>
                </ul>
            </li>
            <li>
                <a href="/dance"><span class='nav-name'>舞蹈</span></a>
                <ul class="more">
                    <a href="/dance#zhai"><li><span>宅舞</span></li></a>
                    <a href="/dance#third"><li><span>三次元舞蹈</span></li></a>
                    <a href="/dance#teach"><li><span>舞蹈教程</span></li></a>
                </ul>
            </li>
            <li>
                <a href="/demon"><span class='nav-name'>鬼畜</span></a>
                <ul class="more">
                    <a href="/demon#gui"><li><span>鬼畜调教</span></li></a>
                    <a href="/demon#musicMAD"><li><span>音MAD</span></li></a>
                    <a href="/demon#vocaloid"><li><span>人力VOCALOID</span></li></a>
                    <a href="/demon#teacher"><li><span>教程演示</span></li></a>
                </ul>
            </li>
            <li>
                <a href="/amusement"><span class='nav-name'>娱乐</span></a>
                <ul class="more">
                    <a href="/amusement#zongyi"><li><span>综艺</span></li></a>
                    <a href="/amusement#star"><li><span>明星</span></li></a>
                    <a href="/amusement#korea"><li><span>Korea相关</span></li></a>
                </ul>
            </li>
            <li>
                <a href="/movie"><span class='nav-name'>放映厅</span></a>
                <ul class="more">
                    <a href="/movie#jilupian"><li><span>纪录片</span></li></a>
                    <a href="/movie#ji-movie"><li><span>电影</span></li></a>
                    <a href="/movie#TV"><li><span>电视剧</span></li></a>
                </ul>
            </li>
        </ul>
        <div class="gif fl"></div>
    </div>
</nav>