@charset 'utf-8';

body{
	font-size: 12px;
}
#header{
	position: relative;
	width: 100%;
	height: 131px;
	background-color: #00a0d8;
}

#header .content{
	margin: 0 auto;
	width: 980px;
	height: 100%
}
/* #header .mask{
	position: absolute;
	background: #fff;	
	width: 100%;
	height: 42px;
} */
#header .nav-menu{
	position: relative;
	width: 100%;
	height: 42px;
	background: #fff;
	z-index: 10;
	box-shadow: 0 0 6px rgba(0,0,0,.3);
}

#header .nav-menu .nav-con{
	position: relative;
	left: -8px;
	height: 42px;
}

#header .nav-menu .nav-con>li{
	position: relative;
	float: left;
	padding: 0 8px;
	height: 42px;
	line-height: 42px;
	/*font-size: 14px;*/
	cursor: pointer;
	transition: .3s;
	/*color: #fff;*/
	overflow: hidden;
}

#header .nav-menu .nav-con li:hover{
	overflow: visible;
	background-color: rgba(255,255,255,.5);
}


#header .nav-con .b-ico{
	display: inline-block;
	margin-right: 6px;
	width: 16px;
	height: 16px;
	background: url(../images/favicon.ico) center/cover;
	vertical-align: -2px;
}
#header .nav-con .b-iphone{
	display: inline-block;
	margin-right: 6px;
	width: 16px;
	height: 16px;
	background: url('../images/icons.png') -1366px -1178px;
	vertical-align: middle;
}
/* header下拉通用*/
#header .nav-con>li>div,#header .login>li>ul{
	position: absolute;
	left: 0px;
	top: 50px;
	padding: 10px 0 10px 10px;
	width: 460px;
	height: 240px;
	background-color: #fff;
	border-radius: 3px;
	/* transition: .3s .2s;
	opacity: 0; */
	transition: .3s;
	/* visibility: hidden; */
	opacity: 0;
	box-shadow: 0 0 10px -3px #000;
}
#header .nav-con>li:hover>div{
	top: 42px;
	opacity: 1;
	/* visibility: visible; */
}

/* header下拉通用 end*/

#header .game-more>div{
	float: left;
}

#header .game-more .left{
	width: 250px;
}

#header .game-more img{
	border-radius: 4px;
}

#header .game-more .list li{
	float: left;
	width: 80px;
	height: 90px;
	font-size: 14px;
	line-height: 1.5;
	text-align: center;
}

#header .game-more .list li:hover figure{
	background-color: #ccc;
}

#header .game-more .list img{
	width: 65px;
	height: 65px;
	border-radius: 5px;
}

#header .game-more .right{
	width: 210px;
	height: 95%;
	/*box-shadow: -3px 0 5px -5px black;*/
}

#header .game-more .right>p{
	height: 29px;
	background: url('../images/header/gamecenter/title.png') no-repeat;
	text-align: right;
	line-height: 29px;
	padding-right: 10px;
}

#header .game-more .right .announce{
	position: relative;
	top: -6px;
	left: 6px;
	padding-top: 10px;
	width: 204px;
	height: 210px;
	box-shadow: -3px 0 5px -5px black;
	line-height: 30px;
	text-indent: 20px;
}
#header .announce p:hover{
	background-color: #efefef;
}


#header .announce img{
	position: absolute;
	display: none;
	top: 0;
	left: 190px;
}
#header .announce p:hover+img{
	display: block;
}

#header .nav-con .live-more{
	width: 520px;
}

#header .nav-con .live-more .left{
	width: 250px;
	height: 100%;
}

#header .live-more .left .liver{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around; 
	width: 250px;
	height: 200px;
	border-right: 1px #ccc solid;
}
#header .live-more>div>p{
	font-size: 14px;
	text-indent: 1em;
	color: #ea759f;
}
#header .live-more .liver li{
	width: 76px;
	height: 87px;
	/*border: 1px black solid;*/
}	

#header .live-more .liver img{
	display: block;
	width: 65px;
	height: 65px;
	border-radius: 50%;
	/*border: 1px black solid;*/
}
#header .live-more .liver li:before{
	content: 'LIVE';
	position: absolute;
	width: 65px;
	height: 65px;
	border-radius: 50%;
	background-color: rgba(0,0,0,.3);
	text-align: center;
	font-size: 20px;
	color: #fff;
	line-height: 65px;
	transform: scale(0);
	transition: .3s;
	/*border: 1px black solid;*/
}
#header .live-more .liver li:hover:before{
	transform: scale(1);
	/*border: 1px black solid;*/
}
#header .live-more .liver .name{
	text-align: center;
	line-height: 1.5;
	/*border: 1px black solid;*/
}


#header .live-more>div{
	float: left;
}
#header .live-more>.right{
	width: 270px;
	height: 240px;
}

#header .live-more>.right a{
	display: block;
	width: 100%;
	text-align: center;
}
#header .live-more>.right a:hover{
	background-color: #ccc;
}

#header .live-more>.right img{
	padding: 10px;
	width: 210px;
	height: 80px;
	vertical-align: middle;
}

#header .nav-con .app-more{
	left: -20px;
	padding: 0;
	width: 259px;
	height: 174px;
	background: url('../images/header/app/timg.jpg') no-repeat center 30px/95px 95px,url('../images/header/app/orcode-frame.png');
	box-shadow: none;
}

#header .nav-menu .login{
	position: relative;
}

#header .nav-menu .login>li{
	position: relative;
	font-size: 14px;
	float: right;
	padding: 0 13px;
	line-height: 42px;
	color: #fff;
	cursor: pointer;
	overflow: hidden;
}
#header .nav-menu .login>li:hover {
	overflow: visible;
}
#header .nav-menu .login .contribute{
	background-color: #fb7299;
}

#header .contribute:hover .contribute-more{
	top: 42px;
	opacity: 1;
	visibility: visible;
}
/* #header .nav-menu .login .contribute:after{
	position: absolute;
	top: 42px;
	left: 0;
	content: '';
	width: 100%;
	height: 6px;
	background-color: #fb7299;
	border-radius: 0 0 8px 8px;
} */

#header .nav-menu .contribute-more{
	position: absolute;
	top: 47px;
	left: -312px;
	display: flex;
	justify-content: space-between;
	width: 360px;
	height: 65px;
	background-color: #fff;
	border-radius: 0 0 3px 3px;
	color: #fb7299;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	transition: .3s .2s;
}

#header .nav-menu .contribute-more>li{
	flex: auto;	
	line-height: 2;
	text-align: center;
	cursor: pointer;
}

#header .nav-menu .contribute-more i{
	display: block;
	margin: 15px auto 0;
	width: 20px;
	height: 20px;
	background-position: -471px -982px;
	background-image: url('../images/icons.png');
	transition: .3s;
}
#header .contribute-more li:hover i{
	transform: translateY(-2px);
}
#header .content>ul>li:hover>div{
	top: 42px;
	opacity: 1;
	visibility: visible;
}
#header .nav-menu .login .history{
	color: #000;
}
#header .nav-menu .history-more{
	position: absolute;
	top: 47px;
	left: -300px;
	width: 400px;
	height: 180px;
	text-align: center;
	background-color: #fff;
	box-shadow: 0 0px 15px -5px #ccc;
	color: #000;
	opacity: 0;
	visibility: hidden;
	transition: .3s .3s;
}

#header .nav-menu .history-more>p{
	margin: 30px 0 15px 0;
	text-align: center;
	line-height: 1;
}
#header .nav-menu .history-more input{
	background-color: #00aeb6;
	width: 45px;
	height: 25px;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
}
#header .nav-menu .history-more input:hover{
	background-color: #0cc;
}

#header .nav-menu .history-more .data{
	margin: 10px 0;
	line-height: 25px;
	text-align: center;
	color: #666;
}

#header .nav-menu .history-more .data:hover{
	background-color: #ccc;
}

#header .nav-menu .history-more .more{
	margin: 0 auto;
	background-color: #ddd;
	width: 375px;
	height: 25px;
	line-height: 25px;
}

#header .nav-menu .history-more .more:hover{
	background-color: #aaa;
}

#header .login-bar{
	height: 42px;
	line-height: 42px;
	
}

#header .login-bar .avatar-border {
	overflow: hidden;
    background-color: #f3f3f3;
    width: 36px;
    height: 36px;
    display: inline-block;
    border-radius: 36px;
    vertical-align: middle;
}

#header .login-bar .login-head{
	display: inline-block;
	width: 36px;
	height: 36px;
	border-radius: 50%;
}

#header .login-bar .login-more{
	position: absolute;
	top: 49px;
	left: -150px;
	padding: 0 9px;
	width: 325px;
	height: 330px;
	background-color: #fff;
	border-radius: 0 0 8px 8px;
	box-shadow: 0 1px 5px -2px black;
	color: #000;
	transition: .3s .3s;
	visibility: hidden;
	opacity: 0;
}
#header .login-more .danmu{
	width: 325px;
	height: 200px;
}

#header .login-more>div{
	position: absolute;
	width: 325px;
	height: 200px;
	background-image: url('../images/header/danmu (1).png');
	animation: toleft 4s linear infinite;
}
@keyframes toleft{
	from{
		background-position-x: 0px;
	}
	to{
		background-position-x: -320px;
	}
}

#header .login-more>input{
	width: 100%;
	height: 42px;
	background-color: #00aed6;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}
#header .login-more>input:hover{
	background-color: #00ffcc;
}
#header .login-more .rigister{
	text-align: center;
}
#header .whitebgl{
		position: absolute;
		width: 100%;
		height: 131px;
		top: 20px;
		background: url("/public/images/header/nav_img/1.png") no-repeat center 25px;
	}

/* login start*/
	.InTheLogin{
		padding: 0;
		margin: 20px auto 0;
		width: 935px;
		height: 400px;
		border: 1px solid transparent;
		border-top-color: #c7c7c7;
		background-color: #fff;
	}
	.InTheLogin legend{
		padding: 0 20px;
		margin-left: 415px; 
		font-size: 35px;
	}
	.InTheLogin .wrapL{
		position: relative;
		width: 440px;
		height: 400px;
		float: left;
		text-align: center;
	}
	.InTheLogin .wrapL::after{
		position: absolute;
		/* width: 1px; */
		top: 10px;
		right: -32px;
		height: 300px;
		content: "";
		border: 1px solid #c7c7c7;
		border-left-color: transparent;
	}
	.InTheLogin .wrapL .code{
		margin: 5px auto 0;
		width: 200px;
		height: 200px;
		background: url("../images/login/QrCode.jpg") 0/100% 100%;
	}
	.InTheLogin .wrapL li{
		color: #c7c7c7;
		font-size: 14px;
	}
	.InTheLogin .wrapL li a{
		padding-left: 3px;
		color:#00a0d8;
		cursor: pointer;
	}
	.InTheLogin .wrapL li a:hover{
		color: #f9c;
	}
	.InTheLogin .wrapR{
		padding-top: 10px;
		width: 440px;
		height: 400px;
		box-sizing: border-box;
		float: right;
	}
	.InTheLogin .wrapR input{
		display: block;
		margin: 30px auto 0;
		width: 385px;
		height: 35px;
		text-indent: 2em;
		border: 1px solid #c7c7c7;
		border-radius: 3px;
	}
	.InTheLogin .wrapR label{
		margin-top: 20px;
		display: inline-block;
	}
	.InTheLogin .wrapR label input{
		display: inline-block;
		margin-top: 0;
		margin-left: 27px;
		margin-right: 10px;
		width: 15px;
		vertical-align: middle;
	}
	.InTheLogin .wrapR a{
		margin-right: 27px;
		margin-top: 20px;
		color: #00a0d8;
		cursor: pointer;
		float: right;
	}
	.InTheLogin .wrapR a:hover{
		color: #f9c;
	}
	.InTheLogin .wrapR p{
		width: 440px;
		height: 50px;
	}
	.InTheLogin .wrapR .btn{
		margin: 10px 6px 20px 27px;
		width: 177px;
		text-indent: 0;
		background-color: #00a0d8;
		float: left;
		cursor: pointer;
	}
	.InTheLogin .wrapR .btn:first-child{
		color: #fff;
	}
	.InTheLogin .wrapR .btn:first-child:hover{
		background-color: #3399ff;
	}
	.InTheLogin .wrapR .btn:last-child{
		background-color: #fff;
	}
	.InTheLogin .wrapR .btn:last-child:hover{
		background-color: #f3f3f3;
	}
	.InTheLogin .wrapR ul{
		width: 400px;
	}
	.InTheLogin .wrapR li{
		margin-left: 27px;
		margin-right: 10px;
		float: left;
		cursor: pointer;
	}
	.InTheLogin .wrapR li span{
		margin-right: 5px;
		width: 20px;
		height: 20px;
		display: inline-block;
		border-radius: 3px;
		vertical-align: middle;
	}
	.InTheLogin .wrapR li .weibologin{
		background: #e1353e url("../images/icons.png") -794px -502px/1148px 1348px;
	}
	.InTheLogin .wrapR li .QQlogin{	
		background: #03a5f1 url("../images/icons.png") -687px -525px/1124px 1514px;
	}
/* login end */

	/* foot start*/
#footer{
	height: 325px;
	background-color: #f6f9fa;
	margin-top: 30px;
}
#footer .content{
	position: relative;
	z-index: 1;
	width: 1161px;
	height: 100%;
	margin: 0 auto;
	border-top:1px #f6f9fa solid;
}
#footer .content .link{
	/*display: flex;*/
	margin: 45px 0 40px;
	height: 115px;
	width: 100%;
	/*background-color: #fff;*/
}
#footer .content .link>.about-bilibili{
	float: left;
	width: 400px;
	height: 100%;
	border-right: 1px #e5e9ef solid;
}
#footer .content .link>.gate{
	float: left;
	padding-left: 40px;
	width: 400px;
	height: 100%;
	border-right: 1px #e5e9ef solid;
}
#footer .content .link>.qr{
	float: left;
	width: 319px;
	height: 100%;
	/*border-right: 1px #e5e9ef solid;*/
}
#footer .link .title{
	font: 14px Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
	margin-bottom: 25px;
	color: #a5a2b3;
	line-height: 1;
}
#footer .link .info{
	display: flex;
	flex-wrap: wrap;
}
#footer .link .info p{
	font-size: 14px;
	width: 120px;
	height: 30px;
}

#footer .link .info a:hover{
	color: #7fa1dd;
}
#footer .link .qr{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#footer .link .qr li{
	position: relative;
	width: 75px;
	height: 80px;
	cursor: pointer;
	overflow: hidden;
}
#footer .link .qr li:hover{
	filter: saturate(250%);
	overflow: visible;
}
#footer .link .qr li p{
	text-align: center;
	font-size: 14px;
	color: #3cf;
}
#footer .link .qr li>.mobile-app{
	margin: 0 auto;
	width: 60px;
	height: 60px;
	background: url("../images/icons.png") no-repeat -1024px -194px;
}
#footer .link .qr li>.sina-app{
	margin: 0 auto;
	width: 60px;
	height: 60px;
	background: url("../images/icons.png") no-repeat -1024px -322px;
}
#footer .link .qr li>.wechat-app{
	margin: 0 auto;
	width: 60px;
	height: 60px;
	background: url("../images/icons.png") no-repeat -1024px -66px;
}
#footer .link .qr li>.qr-area{
	position: absolute;
	top: -135px;
	left: -27.5px;
	width: 120px;
	height: 120px;
	border: 1px #ccc solid;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
}
#footer .link .qr li:nth-child(1)>.qr-area{
	background: no-repeat url("../images/foot/timg.jpg") center/100px 100px;
}
#footer .link .qr li:nth-child(2)>.qr-area{
	background: no-repeat url("../images/foot/detail.jpg") center/100px 100px;
}
#footer .link .qr li:nth-child(3)>.qr-area{
	background: no-repeat url("../images/foot/timg.jpg") center/100px 100px;
}
#footer .link .qr li:hover .qr-area{
	opacity: 1;
	visibility: visible;
}
#footer .copright{
	height: 120px;
	width: 100%;
}
/* foot send*/

.login-agree {
	text-align: center;
	margin: 40px 0 30px;
    color: #ccc;
}
.login-agree a {
	color: #00a1ff;
}