@charset 'utf-8';
.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfix:after{
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}
.clearfix{
    zoom:1;
}

/* nav_menu */
.user-name {
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
}
#header .login-bar div.logged-more {
    height: auto;
    padding: 10px 0;
    text-align: center;
}
#video-header .login-bar div.logged-more {
    height: auto;
    padding: 10px 0;
    text-align: center;
}
#header  div.logged-more>input {
    padding: 0 10px;
}
.user-fens-wrap {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 8px 0;
    display: flex;
    justify-content: space-evenly;
}
.user-fens-wrap .user-fens {
    color: #000;
    font-size: 15px;
    font-weight: bold;
}
.user-fens-wrap a span {
    display: block;
    color: #999;
    line-height: 18px;
}
.user-sets li {
    margin: 4px 0;
    text-align: left;
    color: #333;
    cursor: pointer;
}
.user-sets li a {
    display: block;
    padding: 3px 10px;
}
.user-sets li:hover {
    transition: .2s;
    background: #eee;
}
.user-sets li i {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    background: url(/public/images/icons.png) -467px -401px/1600px;
}
#header div.login-more>input {
    width: 310px;
}
#video-header .content>ul>li:hover>div {
    top: 42px;
    opacity: 1;
    visibility: visible;
}
#header .nav-menu div.logged-history,
#video-header .nav-menu div.logged-history {
    position: absolute;
    left: 50%;
    width: 400px;
    height: auto;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0px 15px -5px #ccc;
    color: #000;
    transition: .3s .3s;
    transform: translateX(-50%);
    border-radius: 3px;
    padding-bottom: 10px;
    cursor: auto;
    visibility: hidden;
    opacity: 0;
}
.history-tab {
    border-bottom: 1px #eee solid;
    margin-bottom: 10px;
    text-align: left;
    padding: 0 6px;
}
.history-tab span {
    display: inline-block;
    line-height: initial;
    padding: 6px 10px;
    border-radius: 20px;
    background-color: #00a1d6;
    color: #fff;
    font-size: 12px;
}
.logged-history .no-data {
    font-size: 12px;
    color: #999;
}

.search-input .search-ul {
    padding: 0 10px;
    border: 1px solid #48b8f5;
    border-radius: 8px;
    background-color: #fff;
    margin-left: 2px;
    /* overflow: hidden; */
    z-index: 1;
    position: relative;
    display: none;
}
.search-ul li:hover {
    cursor: pointer;
    color: #48b8f5;
}

/* custom loop */
.content>.border {
    display: inline-block;
    width: 440px;
    height: 220px;
    overflow: hidden;
}
.border .clearfix {
    width: 880px;
}
.border .clearfix .item {
    float: left;
}
.border .clearfix .item:hover {
    cursor: pointer;
}
/* custom loop */

/* 全局按钮样式 */
.default-btn {
    height: 34px;
    background-color: #00aed6;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    padding: 0px 36px;
}
.error-btn {
    height: 34px;
    background-color: #f34317;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    padding: 0px 36px;
}
.warning-btn {
    height: 34px;
    background-color: #e0a607;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    padding: 0px 36px;
}
/* 全局按钮样式 */

/* 仿bootstrap input 样式 */
.form-control {
    display: block;
    width: 100%;
    /* height: 34px; */
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control:focus {
    outline: 0;
    border-color: #20a0ff;
}
/* 仿bootstrap input 样式 */
