<!doctype html>	<!--声明文档类型为html5网页-->
<html>	<!--存放网页所有内容 开始标签-->
 <head>		<!--存放网页提供给搜索引擎的信息-->
	{{include '../head.html'}}
	<link rel="stylesheet" type="text/css" href="/public/css/movie.css">
	<style></style>
 </head>
 <body>		<!--存放用户查看的内容-->
	<header id="header">
		<div class="mask"></div>
		{{include '../nav_menu.html'}}
		<div class="search">
			<div class="content">
				<h1>pwFour</h1>
				<div class="search-input fr">
					<span>排行榜</span>
					<div class="search-area">
						<input type="input" name="search" placeholder="大鱼海棠2周年">
						<input type="submit" name="" value="">
					</div>
				</div>
			</div>
		</div>
		{{include '../nav.html'}}
	</header>
	<section id='most-view'>
		<div class="content">
			<div class="all">
				<div class="top-img">
					<div class="activeimg">
						<img src="/public/images/swiper/movie1.jpg">
						<img src="/public/images/swiper/movie2.jpg">
						<img src="/public/images/swiper/movie3.jpg">
						<img src="/public/images/swiper/movie4.jpg">
						<img src="/public/images/swiper/movie6.jpg">
					</div>
				</div>
				<!-- 存放缩略图的容器-->
				<div class="bot-img">
					<ul>
						<li class="active"><img src="/public/images/swiper/movie1.jpg"> </li>
						<li><img src="/public/images/swiper/movie2.jpg"> </li>
						<li><img src="/public/images/swiper/movie3.jpg"> </li>
						<li><img src="/public/images/swiper/movie4.jpg"> </li>
						<li><img src="/public/images/swiper/movie6.jpg"> </li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<div class="content adv">
		<a href="">
			<img src="/public/images/adv/adv4.jpg" alt="adv">
		</a>
	</div>

		<!-- 纪录片 -->
	<section id="animation-movie">
		<div class="content">
			<div class="example fl">
				<div class="info">
					<i class="icon fl"></i>
					<h2 class="title fl"><a id="jilupian">纪录片</a></h2>
					<span class="fl active">有新动态</span>
					<span class="fr border">更多 ></span>
					<span class="fr border"><b>5964</b>条动态</span>
				</div>
				<div class="list-left">
					<img src="/public/images/documentary/1.png">
				</div>
				<ul class="list">
					<li>
						<img src="/public/images/documentary/2.png">
						<p class="list-topP">草原王者登顶对决</p>
						<p class="list-topB">双狮大战</p>
					</li>
					<li>
						<img src="/public/images/documentary/3.png">
						<p class="list-topP">牛人自制百万伏致命电流</p>
						<p class="list-topB">磁暴电圈</p>
					</li>
					<li>
						<img src="/public/images/documentary/4.png">
						<p class="list-topP">企鹅无间道</p>
						<p class="list-topB">队长别开枪</p>
					</li>
					<li>
						<img src="/public/images/documentary/5.png">
						<p class="list-topP">bbc带你走进植发全过程</p>
						<p class="list-topB">少年脱发不用愁</p>
					</li>
					<li>
						<img src="/public/images/documentary/6.png">
						<p class="list-topP">草原王者登顶对决</p>
						<p class="list-topB">双狮大战</p>
					</li>
					<li>
						<img src="/public/images/documentary/7.png">
						<p class="list-topP">草原王者登顶对决</p>
						<p class="list-topB">双狮大战</p>
					</li>
				</ul>
			</div>
			<div class="ranking fr">
				<div class="paly">
					<h2>热门</h2>
					<a>周榜</a>
					<a>日榜</a>
				</div>
				<ul class="palyNav">
					<li class="firstLi">
						<i class="liPic"></i>
						<div class="cartoon pic"></div>
						<div class="picRight">
							<a>【中日跨国合唱】-就这样死了没出息了!</a>
							<p>播放量: 2.8万</p>
						</div>
					</li>
					<li class="twoLi">
						<i class="liPic"></i>
						<div class="cartoon pic"></div>
						<div class="picRight">
							<a>POP/STARS(日语.ver)</a>
							<p>播放量: 2.8万</p>
						</div>
					</li>
					<li class="threeLi">
						<i class="liPic"></i>
						<div class="cartoon pic"></div>
						<div class="picRight">
							<a>沙漠骆驼(攻气女版)</a>
							<p>播放量: 2.8万</p>
						</div>
					</li>
					<li><a>【姬雏MV第五弹】ROKI(cover:姬雏)</a></li>
					<li><a>昨日青空</a></li>
					<li><a>【波澜哥】波澜点灯</a></li>
					<!-- <li><a>大姨妈</a></li> -->
				<!-- 	<li><a>【Ayasa】《Fate/Apocrypha》 ED2</a></li>
					<li><a>【林小尤_扬琴】红莲的弓矢(Linked Horizon)</a></li>
					<li><a>【林小尤_扬琴】红莲的弓矢(Linked Horizon)</a></li> -->
					<div class="all">查看完整榜单 &gt</div>
				</ul>
			</div>
		</div>
	</section>

		<!-- 电影 -->
	<section id="animation">
		<div class="content">
			<div class="example fl">
				<div class="info">
					<i class="icon fl"></i>
					<h2 class="title fl"><a id="ji-movie">电影</a></h2>
					<span class="fl active">有新动态</span>
					<span class="fr border">更多 ></span>
					<span class="fr border"><b>5964</b>条动态</span>
				</div>
				<ul class="animation-list">
					<li>
						<img src="/public/images/others/pwFour_248 (105).jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>
						</div>
					</li>
					<li>
						<img src="/public/images/others/pwFour_248 (102).jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>
							
						</div>
					</li>
					<li>
						<img src="/public/images/others/pwFour_248 (103).jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>
							
						</div>
					</li>
					<li>
						<img src="/public/images/others/pwFour_248 (104).jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>
							
						</div>
					</li>
					<li>
						<img src="/public/images/others/pwFour_248 (106).jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>
							
						</div>
					</li>
					<li>
						<img src="/public/images/others/pwFour_248 (107).jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>
							
						</div>
					</li>
					<li>
						<img src="/public/images/others/pwFour_248 (108).jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>
							
						</div>
					</li>
					<li>
						<img src="/public/images/others/pwFour_248 (85).jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>
							
						</div>
					</li>
					<li>
						<img src="/public/images/others/pwFour_248 (84).jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>
							
						</div>
					</li>
					<li>
						<img src="/public/images/others/pwFour_248 (83).jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>
						</div>
					</li>

					<li>
						<img src="/public/images/others/pwFour_248 (82).jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>
						</div>
					</li>
					<li>
						<img src="/public/images/others/pwFour_248 (81).jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>
							
						</div>
					</li>
					<li>
						<img src="/public/images/others/pwFour_248 (80).jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>
							
						</div>
					</li>
					<li>
						<img src="/public/images/others/pwFour_248 (79).jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>
							
						</div>
					</li>
					<li>
						<img src="/public/images/others/pwFour_248 (78).jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>
							
						</div>
					</li>
					<li>
				</ul>
			</div>
			<div class="ranking fr">
				<div class="paly">
					<h2>热门</h2>
					<a>周榜</a>
					<a>日榜</a>
				</div>
				<ul class="palyNav">
					<li class="firstLi">
						<i class="liPic"></i>
						<div class="cartoon pic"></div>
						<div class="picRight">
							<a>【中日跨国合唱】-就这样死了没出息了!</a>
							<p>播放量: 2.8万</p>
						</div>
					</li>
					<li class="twoLi">
						<i class="liPic"></i>
						<div class="cartoon pic"></div>
						<div class="picRight">
							<a>POP/STARS(日语.ver)</a>
							<p>播放量: 2.8万</p>
						</div>
					</li>
					<li class="threeLi">
						<i class="liPic"></i>
						<div class="cartoon pic"></div>
						<div class="picRight">
							<a>沙漠骆驼(攻气女版)</a>
							<p>播放量: 2.8万</p>
						</div>
					</li>
					<li><a>【姬雏MV第五弹】ROKI(cover:姬雏)</a></li>
					<li><a>昨日青空</a></li>
					<li><a>【波澜哥】波澜点灯</a></li>
					<li><a>大姨妈</a></li>
					<li><a>【Ayasa】《Fate/Apocrypha》 ED2</a></li>
					<li><a>【林小尤_扬琴】红莲的弓矢(Linked Horizon)</a></li>
					<li><a>【林小尤_扬琴】红莲的弓矢(Linked Horizon)</a></li>
					<div class="all">查看完整榜单 &gt</div>
				</ul>
			</div>
		</div>
	</section>


		<!-- 电视剧 -->
	<section id="animation">
		<div class="content">
			<div class="example fl">
				<div class="info">
					<i class="icon fl"></i>
					<h2 class="title fl"><a id="TV">电视剧</a></h2>
					<span class="fl active">有新动态</span>
					<span class="fr border">更多 ></span>
					<span class="fr border"><b>5964</b>条动态</span>
				</div>
				<ul class="animation-list">
					<li>
						<img src="/public/images/others/26.png" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>
						</div>
					</li>
					<li>
						<img src="/public/images/others/27.png" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>
							
						</div>
					</li>
					<li>
						<img src="/public/images/others/pwFour_248 (13).jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>
							
						</div>
					</li>
					<li>
						<img src="/public/images/others/pwFour_248 (12).jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>
							
						</div>
					</li>
					<li>
						<img src="/public/images/others/pwFour_248 (14).jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>
							
						</div>
					</li>
					<li>
						<img src="/public/images/others/pwFour_248 (15).jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>
							
						</div>
					</li>
					<li>
						<img src="/public/images/others/pwFour_248 (16).jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>
							
						</div>
					</li>
					<li>
						<img src="/public/images/others/pwFour_248 (17).jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>
							
						</div>
					</li>
					<li>
						<img src="/public/images/others/pwFour_248 (27).jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>
							
						</div>
					</li>
					<li>
						<img src="/public/images/others/pwFour_248 (29).jpg" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>
						</div>
					</li>

					<li>
						<img src="/public/images/others/25.png" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>
						</div>
					</li>
					<li>
						<img src="/public/images/others/24.png" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>
							
						</div>
					</li>
					<li>
						<img src="/public/images/others/23.png" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>
							
						</div>
					</li>
					<li>
						<img src="/public/images/others/22.png" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>
							
						</div>
					</li>
					<li>
						<img src="/public/images/others/21.png" alt="">
						<div class="mask"></div>
						<div class="cover">
							<h3 class="title">当可爱的血小板对你说喜欢是一种怎样的体验？【冰糖配音/一人全役】</h3>
							<span class="time">30:12</span>
							<div class="wait"></div>
							<div class="more">
								<p class="play">播放量: 99.9万</p>
								<p class="comment">评论</p>
							</div>
							
						</div>
					</li>
					<li>
				</ul>
			</div>
			<div class="ranking fr">
				<div class="paly">
					<h2>热门</h2>
					<a>周榜</a>
					<a>日榜</a>
				</div>
				<ul class="palyNav">
					<li class="firstLi">
						<i class="liPic"></i>
						<div class="cartoon pic"></div>
						<div class="picRight">
							<a>【中日跨国合唱】-就这样死了没出息了!</a>
							<p>播放量: 2.8万</p>
						</div>
					</li>
					<li class="twoLi">
						<i class="liPic"></i>
						<div class="cartoon pic"></div>
						<div class="picRight">
							<a>POP/STARS(日语.ver)</a>
							<p>播放量: 2.8万</p>
						</div>
					</li>
					<li class="threeLi">
						<i class="liPic"></i>
						<div class="cartoon pic"></div>
						<div class="picRight">
							<a>沙漠骆驼(攻气女版)</a>
							<p>播放量: 2.8万</p>
						</div>
					</li>
					<li><a>【姬雏MV第五弹】ROKI(cover:姬雏)</a></li>
					<li><a>昨日青空</a></li>
					<li><a>【波澜哥】波澜点灯</a></li>
					<li><a>大姨妈</a></li>
					<li><a>【Ayasa】《Fate/Apocrypha》 ED2</a></li>
					<li><a>【林小尤_扬琴】红莲的弓矢(Linked Horizon)</a></li>
					<li><a>【林小尤_扬琴】红莲的弓矢(Linked Horizon)</a></li>
					<div class="all">查看完整榜单 &gt</div>
				</ul>
			</div>
		</div>
	</section>

	<div class="content adv">
		<a href="">
			<img src="/public/images/adv/adv5.jpg" alt="adv">
		</a>
	</div>
	{{ include '../footer.html' }}

	<div class="floatCtro">
		<p><a href="#header">返回顶部</a></p>
	</div>

	<script src="/node_modules/jquery/dist/jquery.min.js"></script>
	<script src="/public/js/index.js"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.2/js/swiper.min.js"></script> -->
	
	<script>
		var mySwiper = new Swiper ('.swiper-container', {
		    direction: 'horizontal',
		    loop: true,
		    autoplay: {
			    delay: 2000,
			    stopOnLastSlide: false,
			    disableOnInteraction: true,
		    },
		    pagination: {
		      el: '.swiper-pagination',
		    }
		  })  	
	</script>

	
 </body>
</html>
